.principal {
  height: 100vh;
  width: 100%;
  background: url("../img/bg2.png") center / cover, #050421;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gen-box {
  width: 100%;
  height: 100vh;
  background: rgba(36,0,181,0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo img {
  width: 100px;
  height: 100px;
}

.gen-area {
  /*width: 100%;*/
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-groups {
  background: #00ff75;
  color: #fff;
  margin-left: 10px;
  border-radius: 30px;
}

.btn-groups:hover {
  color: #ffffff;
}

#nitro {
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.gerar:hover {
  background: #00b553;
}

.toast-success {
  background-color: #00ff75 !important;
}
